body{
    font-family:"Exo";
    padding:0px;
  
}

html{
    box-sizing:border-box
}

*,::after,::before{
    box-sizing: inherit;
}

.section.header h1{
    font-size:72px;
    font-weight:600;
}

.navbar-brand{
    font-weight: 700px;
    font-size:28px;
}

.navbar-nav {
    font-size:20px;
}

.frame{
    background-color:black;
    width:100%;
    height:160px;
}
.section.courses .pic{
   margin-left:500px;
}

.section.courses .text{
    padding-top:60px;
    padding-left:320px;
}
.section.courses li{
    list-style: none;
}
 .picture{
    border-radius: 10px;
    width:80px;
    height:70px;
 }
 .bi.bi-calendar-day{
    color:#FF782D;
 }
 
 .section.page span{
    margin-left:20px;
    border:1px solid black;
    border-radius: 50%;
    padding:10px;
 }

.section.footer .container-fluid{
    background-color:rgba(85, 85, 85, 1);
}



