body{
    font-family:"Exo";
    padding:0px;
  
}

html{
    box-sizing:border-box
}

*,::after,::before{
    box-sizing: inherit;
}

.section.header h1{
    font-size:72px;
    font-weight:600;
}

.navbar-brand{
    font-weight: 700px;
    font-size:28px;
}

.navbar-nav {
    font-size:20px;
}

.frame{
    background-color: black;
    width:100%;
    height:160px;
}
.page{
    background-color: rgba(157, 157, 157, 1);
}

.pic{
    background-image: url(Rectangle\ 139\ \(5\).png);
    background-repeat:no-repeat;
    height:590px;
}

.section.courses .pict{
    margin-left:400px;
 }
 
 .section.courses .text{
     padding-top:60px;
     padding-left:320px;
 }
.section.courses i{
    color:#FF782D;
}

.section.courses li{
    list-style: none;
    padding-left:25px;
}

.section.footer .container-fluid{
    background-color:rgba(85, 85, 85, 1);
}

.section-page li{
    list-style: none;
    border-radius: 50%;
    padding-top:15px;
  
    
}
.section-page li{
    background-color:black;
    color:white;
}

