body{
    font-family:"Exo";
    padding:0px;
  
}

html{
    box-sizing:border-box
}

*,::after,::before{
    box-sizing: inherit;
}

.section.header h1{
    font-size:72px;
    font-weight:600;
}

.navbar-brand{
    font-weight: 700px;
    font-size:28px;
}

.navbar-nav {
    font-size:20px;
}


.frame{
    background-color: black;
    width:100%;
    height:160px;
}

.main.picture{
    background-image: url(Image.png);
    height:700px;
}

.section.main .container-fluid{
    padding:0px;
}

.section.main h2{
    padding-left:315px;
    padding-top:219px;
    font-size:48px;
    width:720px;
    font-weight:700px;
}
.section.main p{
    padding-left:315px;
    width:750px;
    font-size:18px;
}

 .section.main .btn{
    background-color:rgba(255, 120, 45, 1);
    margin-left:315px;
    color:white;
    Padding:10px, 24px, 10px, 24px;
    font-size:18px;
    border-radius:24px;
}

.section.categories .btn{
    border-radius:24px;
    Padding:10px, 24px, 10px, 24px;
    font-size:18px;
    
}

.section.categories .card{
   background-color:Light_grey rgba(234, 234, 234, 1);
    border-radius:20px;
    width:200px;
    height:200px;
    gap:10px;

}
.section.courses .card{
    background-color: white;
}

.pic{
    background-image: url(Mask\ group.png);
    height:324px;
    background-repeat: no-repeat;
    margin:0 auto;
}

.section-learn-text{
    font-family: Exo;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.section-grow{
    background-image: url(Vector.png);
    background-repeat: no-repeat;
    height:469px;
 
} 

.edu-pic{
    background-image: url(Mask\ group1.png);
    width:1290px;
    height:300px;
    margin:0 auto;
}

.section.start .container-fluid{
    background-image: url(Rectangle\ 143.png);
    width:1300px;
    height:250px;
    background-repeat: no-repeat;
}

.section.feedback .card{
    width:300px;
    height:308px;
}
.section.start .col-8,.col-4{
    padding-top:80px;
}

.section.start .btn.btn-outline-light{
    border-color: #FF782D;
    color: #FF782D
}


.section.articles-card .card{
   height:450px;
}

.section.articles-card .bi.bi-calendar{
    color:#FF782D;
}
.section.footer .container-fluid{
    background-color:rgba(85, 85, 85, 1);
}
